conversor/__pycache__/conversor_numbers.cpython-312.pyc
conversor/__pycache__/conversor.cpython-312.pyc
conversor/__pycache__/test_conversor_numbers_mock.cpython-312.pyc
conversor/__pycache__/test_conversor_numbers.cpython-312.pyc
conversor/.idea/.gitignore
conversor/.idea/conversor.iml
conversor/.idea/misc.xml
conversor/.idea/modules.xml
conversor/.idea/vcs.xml
conversor/.idea/inspectionProfiles/profiles_settings.xml
